body {
    background-color: var(--branco);
    color: var(--texto-escuro);
}

/* Painel esquerdo */
.painel-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--fundo);
    color: var(--branco);
}














